/* h1 {
    text-align: center;
}

h2 {
    text-align: center;
    background-color: red;
    color: white;
} */

/* internal css Majboori halat */
/* external css recommended way*/
/* inline css  X*/

/* property / value */

/* selectors */

/* * {
    color: red;
} */

/* h1 , h2 {
    color: red;
} */

.text-center {
  text-align: center;
}

.text-red {
  color: red;
}
.text-purple {
  color: purple;


}


#para-one {
    color: blue;
}

.para-one > p {
    color: rgb(15, 15, 165);
}

ul > li {
    color: #008b3566;
}
#Para-one{
    background-color: black;
    color: wheat;
    /* border: 2px solid burlywood; */
}
p{
    border-width: 3px;
    border-style: solid;
    border-color: blueviolet;
    background-color: black;
    color: white;
}
li{
    display: inline;
}
.coming-soon{
    visibility: hidden;
}
#para{
    background-color: cadetblue;
    color: black;
}
/* h1{
    color: aqua;
}
h1{
    color: black;
}
h1{
    color: blue;
    border: 1px solid red;
} */

